
main{
    min-height: 80vh
}
div,input,button{
    border: solid 2px;
    border-radius: 20px;
    border-color:rgb(137, 1, 149);
    background-color:rgba(30, 41, 59, 0.7);
    max-width: 300px;
    margin: auto;
    padding: 10px;
}

button,input{
    color: rgb(200, 200, 200);
}
div,input,button:hover{
    box-shadow: 10px 20px 30px rgba(137, 1, 149, 0.445);
    transform: scale(1.02);
}
